* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 200vh;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1;
  }
  
  .navbar.sticky {
    padding: 5px 100px;
    background-color: #4e4e4e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
      box-shadow: 0 0 10px 0 red;
  }
  
  .navbar .logo {
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s ease-out;
  }
  
  .navbar.sticky .logo {
    color: #fff;
  }
  
  .navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul li {
    position: relative;
    list-style: none;
  }
  
  .navbar ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
  }
  
  .navbar ul li a:hover {
    color: #fff;
    background-image: linear-gradient(to bottom right, #00dcff, #ff00f0);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
  
  .navbar.sticky ul li a:hover {
    color: #fff;
    background-image: linear-gradient(to top left, #00dcff, #ff00f0);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
  
  .navbar.sticky ul li a {
    color: #fff;
  } 
  
  @media (prefers-color-scheme: dark) {
      .navbar .logo {
          color: #fff;
      }
      
      .navbar ul li a {
          color: #fff;
      }
      
    .navbar.sticky {
      background-color: #fff;
          box-shadow: 0 0 10px 0 red;
    }
  
    .navbar.sticky .logo {
      color: #000;
    }
  
    .navbar.sticky ul li a {
      color: #000;
    }
  }
  
  @media (max-width: 900px) {
      .navbar {
          justify-content: center;
      }
      .navbar ul {
          display: none;
      }
  }